<div id="news">
  <h2>News</h2>

  <% unless @articles.blank? %>
    <ul id="news_list">
      <%= render @articles %>
    </ul>
    <%= paginate @articles %>
  <% else %>
    <div id="no_articles">現在、ニュースはありません。</div>
  <% end %>
</div>
