<h1 id="site_title">Jazz Bassist<br>Otsuka Yoshimasa</h1>

<div id="gallery">
  <div id="slides">
    <div class="slide a"></div>
    <div class="slide b"></div>
    <div class="slide c"></div>
    <div class="slide d"></div>
  </div>
  <ul id="menu">
    <li class="menuitem"></li>
    <li class="menuitem"></li>
    <li class="menuitem"></li>
    <li class="menuitem"></li>
  </ul>
</div>

<div id="records">
  <% unless @discographies.blank? %>
    <ul class="discographies_list">
      <h2>Now on Sale</h2>
      <%= render @discographies %>
    </ul>
  <% end %>
</div>

<div id="news">
  <h2>News</h2>
  <ul>
    <li><p>2012.08.08</p><p>Webサイトがオープンしました。</p></li>
  </ul>
</div>
