<div id="site_title">
  <h1>Jazz Bassist<br><span>大塚義将</span><br>Official Website</h1>
</div>

<div id="gallery">
  <div id="slides">
    <div class="slide a"></div>
    <div class="slide b"></div>
    <div class="slide c"></div>
    <div class="slide d"></div>
  </div>
  <ul id="menu">
    <li class="menuitem"></li>
    <li class="menuitem"></li>
    <li class="menuitem"></li>
    <li class="menuitem"></li>
  </ul>
</div>

<% if false %>
<div id="records">
  <% unless @discographies.blank? %>
    <ul class="discographies_list">
      <h2>Now on Sale</h2>
      <%= render @discographies %>
    </ul>
  <% end %>
</div>
<% end %>

<div id="news">
  <h2>News</h2>
  <ul id="news_list">
    <% 3.times do %>
      <li><span class="news">news</span><span class="date"><%= l(Time.now, :format => "%Y/%m/%d") %></span><span>Webサイトがオープンしました。</span></li>
    <% end %>
  </ul>
</div>
