<div id="site_title">
  <h1>Jazz Bassist<br><span>大塚義将</span><br>Official Website</h1>
</div>

<div id="gallery">
  <div id="slides">
    <% for n in 1..3 %>
      <div class="slide <%= 'img_' + n.to_s %>"></div>
    <% end %>
  </div>
  <ul id="menu">
    <% 3.times do %>
      <li class="menuitem"></li>
    <% end %>
  </ul>
</div>

<% if false %>
<div id="records">
  <% unless @discographies.blank? %>
    <ul class="discographies_list">
      <h2>Now on Sale</h2>
      <%= render @discographies %>
    </ul>
  <% end %>
</div>
<% end %>

<div id="news">
  <h2>News</h2>
  <% unless @articles.blank? %>
  <ul id="news_list">
    <%= render @articles %>
  </ul>
  <% else %>
    <div id="no_articles">現在、ニュースはありません。</div>
  <% end %>
</div>
