<div id="users_list">
  <%= render 'shared/side_bar' %>

  <h2>Users List</h2>
  <ul class="users">
    <%= render @users %>
  </ul>

  <% if current_user.administrator? %>
		<div class="new_button"><%= link_to t('signin.go_to_signup'), signup_path %></div>
  <% end %>
</div>
