$themecolor1: rgba(160, 45, 80, 0.9);
$themecolor2: rgba(45, 80, 160, 0.8);
$themecolor3: rgba(255, 200, 200, 0.5);
$themecolor4: rgba(200, 200, 255, 0.5);

@mixin from-top-left($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin from-top-right($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin from-bottom-left($bottom, $left) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}

@mixin from-bottom-right($bottom, $right) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin bg-img($file) {
  background: {
    image: url($file);
    repeat: no-repeat;
    size: 100% 100%;
  }
}

@mixin basic-column($width: 720px) {
  position: relative;
  margin: 20px 40px;
  padding: 40px;
  width: $width;
  max-width: 680px;
  @include border-radius(10px);
  background-color: rgba(255, 255, 255, 0.6);
}

@mixin comment-balloon($color: $themecolor3) {
  position: relative;
  padding: 5px 15px;
  font-size: 14px;
  background-color: $color;
  @include border-radius(10px);

  &:before{
    content : "";
    @include from-top-left(-2px, -14px);
    @include size(0, 0);
    border-width : 10px 10px 10px 15px;
    border-style : solid;
    border-color : transparent transparent $color transparent;
    -webkit-transform: rotate(45deg);
  }
}

@mixin no_info_design {
  position: relative;
  margin: 100px;
  line-height: 120px;
  text-align: center;
  @include bg-img('shared/paper.png');
  @include box-shadow(0px 0px 20px 0px rgba(0,0,0,0.2) inset);

  #doe {
    @include from-top-left(-40px, 5px);
    @include size(113px, 139px);
    @include bg-img('shared/doe.png');
  }
  #flowers {
    @include from-top-left(55px, 400px);
    @include size(98px, 83px);
    @include bg-img('shared/flowers.png');
  }
}
