$themecolor1: rgba(160, 45, 80, 0.9);
$themecolor2: rgba(30, 107, 125, 0.9);
$themecolor3: rgba(255, 200, 200, 0.5);
$themecolor4: rgba(200, 200, 255, 0.5);
$themecolor5: rgba(67, 138, 132, 0.5);
$themecolor6: rgba(30, 107, 125, 0.4);

@mixin from-top-left($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin from-top-right($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin from-bottom-left($bottom, $left) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}

@mixin from-bottom-right($bottom, $right) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin bg-img($file) {
  background: {
    image: url($file);
    repeat: no-repeat;
    size: 100% 100%;
  }
}

@mixin animation ($name, $duration, $iteration-count, $timing-function: ease, $fill-mode: none) { 
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iteration-count;
  -moz-animation-timing-function: $timing-function;
  -moz-animation-fill-mode: $fill-mode;
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration-count;
  -webkit-animation-timing-function: $timing-function;
  -webkit-animation-fill-mode: $fill-mode;
  -ms-animation-name: $name;
  -ms-animation-duration: $duration;
  -ms-animation-iteration-count: $iteration-count;
  -ms-animation-timing-function: $timing-function;
  -ms-animation-fill-mode: $fill-mode;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iteration-count;
  animation-timing-function: $timing-function;
  animation-fill-mode: $fill-mode;
}

@mixin basic-column($width: 720px) {
  position: relative;
  margin: 40px;
  padding: 40px;
  width: $width;
  max-width: 680px;
  @include border-radius(5px);
  background-color: rgba(255, 255, 255, 0.6);
}

@mixin under-line {
  border-bottom: solid 2px #555;
}

@mixin comment-balloon($color: $themecolor3) {
  position: relative;
  padding: 5px 15px;
  font-size: 14px;
  background-color: $color;
  @include border-radius(10px);

  &:before{
    content : "";
    @include from-top-left(-2px, -14px);
    @include size(0, 0);
    border-width : 10px 10px 10px 15px;
    border-style : solid;
    border-color : transparent transparent $color transparent;
    -webkit-transform: rotate(45deg);
  }
}

@mixin no_info_design {
  position: relative;
  margin: 100px;
  padding: 50px;
  line-height: 20px;
  text-align: center;
  @include bg-img('shared/paper.png');
  @include box-shadow(0px 0px 20px 0px rgba(0,0,0,0.2) inset);

  #doe {
    @include from-top-left(-40px, 5px);
    @include size(113px, 139px);
    @include bg-img('shared/doe.png');
  }
  #flowers {
    @include from-top-left(55px, 400px);
    @include size(98px, 83px);
    @include bg-img('shared/flowers.png');
  }
}
