<div id="release">
  <h2>Discographies</h2>
  
  <% if signed_in? %>
    <div class="buttons">
      <div class="new_button"><%= link_to t('discographies.new'), new_discography_path %></div>
    </div>
  <% end %>

  <% unless @discographies.blank? %>
    <ul class="discographies_list">
      <%= render @discographies %>
    </ul>
  <% else %>
    <div id="no_discs"></div>現在リリース情報はありません。</div>
  <% end %>
</div>
