<div id="release">
  <h2>New Release</h2>
  
  <% unless @discographies.blank? %>
    <ul class="discographies_list">
      <%= render @discographies %>
    </ul>
  <% else %>
    <div id="no_discs"><div id="doe"></div>現在リリース情報はありません。<div id="flowers"></div></div>
  <% end %>
</div>
