#news {
  @include basic-column(100%);
  padding-bottom: 20px;

  h2 {
    margin-bottom: 20px;
  }

  #no_articles {
    @include no_info_design;
  }

  ul#news_list {
    li {
      display: block;
      margin-bottom: 10px;
      min-height: 22px;
      line-height: 24px;

      &.disabled {
        opacity: 0.5;
      }
    }

    .news {
      display: block;
      margin-right: 10px;
      @include size(100px, 20px);
      float: left;
      color: white;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      @include border-radius(10px);
      background-color: $themecolor2;
    }

    .date {
      @include size(90px, 20px);
      float: left;
    }
  }
}

#news {
  .buttons {
    height: 30px;
    margin-bottom: 60px;

    .new_button, .edit_button, .delete_button {
      @include size(100px, 20px);
      @include border-radius(4px);
      float: left;
      margin-top: 20px;
      margin-right: 20px;
      padding: 5px;
      font-size: 15px;
      text-align: center;
      background-color: rgba(150, 150, 200, 0.5);
    }

    .new_button {
      width: 200px;
    }
  }
}
