#release {
  @include basic-column(100%);
  
  #no_discs {
    @include no_info_design;
  }

  form {
    label {
      display: block;
      float: left;
      width: 130px;
    }
    .players, .url, .comment {
      textarea {
        width: 450px;
      }
    }
  }
}

.discographies_list {
  li {
    display: block;
    margin-bottom: 40px;
    clear: both;
    min-height: 180px;

    .disc_image {
      float: left;
      transition: opacity 0.2s linear 0;

      &:hover {
        opacity: 0.6;
      }
    }

    .disc_detail {
      margin-left: 200px;
      max-width: 520px;

      .title {
        position: relative;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
        @include under-line;

        .new {
          display: none;
          @include from-top-right(0px, 0px);
          margin-left: 10px;
          margin-right: 10px;
          font-size: 20px;
        }
      }

      .release_date, .artist, .label, .comments {
        margin-bottom: 4px;
        min-width: 480px;
        min-height: 22px;
        line-height: 20px;
        float: left;
      }

      .comments {
        @include comment-balloon($themecolor6);
        margin-top: 10px;
      }

      span {
        display: block;
        margin-right: 10px;
        @include size(100px, 20px);
        float: left;
        color: white;
        font-size: 12px;
        text-align: center;
        @include border-radius(10px);
        background-color: $themecolor2;
      }

      .edit_button {
        @include size(100px, 20px);
        @include border-radius(4px);
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
        font-size: 15px;
        text-align: center;
        background-color: rgba(150, 150, 200, 0.5);
      }
    }
  }
}
