#gigs {
  @include basic-column(100%);
  padding-bottom: 20px;

  h2 {
    margin-bottom: 20px;
  }

  #gigs_list {
    margin-bottom: 60px;

    li {
      position: relative;
      display: block;
      margin: 10px;
      margin-bottom: 20px;
      clear: both;
      min-height: 125px;
      @for $i from 0 through 3 {
        &[data-recommend="#{$i}"] {
          @include bg-img('shared/date_frame_' + $i + '.png');
          background-size: 115px 94px;
        }
      }

      .date {
        position: relative;
        float: left;
        font-family: Cursive;
        text-align: center;
        @include size(125px, 100px);
        .month {
          @include from-top-left(6px, 23px);
          width: 30px;
          font-size: 25px;
        }
        .day {
          @include from-top-left(20px, 62px);
          width: 30px;
          font-size: 30px;
        }
        .wday {
          @include from-top-left(64px, 32px);
          width: 50px;
          font-size: 18px;
        }
        .date_end {
          @include from-top-left(64px, 22px);
          width: 70px;
          font-size: 17px;
        }
      }

      .title {
        margin-left: 135px;
        margin-bottom: 10px;
        font-size: 20px;
        @include border-image(url('shared/line_a.png') 15);
        border-width: 0px 0px 6px 0px;
      }

      .group, .location, .players, .charge, .comments {
        margin-bottom: 4px;
        min-height: 22px;
        line-height: 20px;

        span {
          display: block;
          margin-right: 10px;
          @include size(100px, 20px);
          float: left;
          font-size: 12px;
          text-align: center;
          @include border-radius(10px);
          background-color: $themecolor5;
        }
      }

      .group {
        font-size: 18px;
      }

      .location, .players, .charge {
        margin-left: 135px;
        span {
          float: left;
          width: 70px;
        }
      }

      .comments {
        @include comment-balloon($themecolor5);
        margin-left: 135px;
        margin-bottom: 20px;
      }

      .new {
        @include from-top-right(5px, 20px);
        @include size(50px, 20px);
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        @include border-radius(10px);
        background-color: $themecolor5;
      }
    }
  }

  #no_gigs {
    @include no_info_design;
  }

  #gigs_nav_months {
    margin-bottom: 60px;
    @include size(680px, 40px);

    li {
      float: left;
      margin-right: 10px;
      @include size(72px, 40px);
      line-height: 40px;
      font-size: 12px;
      text-align: center;
      @include border-radius(10px);
      background-color: $themecolor6;

      &:hover {
        background-color: lighten($themecolor6, 10%);
      }

      a {
        display: block;
        @include size(72px, 40px);
        @include border-radius(10px);
      }
    }

    li.current_page {
      color: white;
      background-color: $themecolor2;
    }

    li.prev_month, li.next_month {
      position: relative;
      @include size(0px, 0px);
      @include border-radius(0px);
      background-color: transparent;

      a {
        display: block;
        @include size(20px, 40px);
      }
    }

    li.prev_month {
      border-top: 20px solid transparent;
      border-right: 20px solid $themecolor6;
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent;

      &:hover {
        border-right-color: lighten($themecolor6, 10%);
      }

      a {
        @include from-top-left(-20px, 0px);
      }
    }

    li.next_month {
      border-top: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid $themecolor6;

      &:hover {
        border-left-color: lighten($themecolor6, 10%);
      }

      a {
        @include from-top-left(-20px, -20px);
      }
    }
  }

  #gigs_nav_top {
    @include from-top-right(0px, 0px);
  }

  #gigs_nav_bottom {
    @include from-bottom-right(0px, 0px);
  }

  .nav_change_month {
    margin: 20px;
    min-width: 250px;
    height: 58px;

    a {
      display: block;
      float: left;
      padding-left: 20px;
      padding-right: 20px;
      min-width: 80px;
      height: 58px;
      line-height: 62px;
      text-align: center;
      @include bg-img('shared/button_frame.png');

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
